

    <!-- cards -->

    <div class="w-full max-w-full px-5 h-44 mt-5 ">
      <div class=" shadow-soft-xl relative flex h-full min-w-0 flex-col break-words rounded-2xl border-0 border-solid  p-0">
        <div class="relative h-full overflow-hidden  bg-cover rounded-xl" style="background-image: url('./assets/cover.jpg');background-position: center;">
          <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-gray-900 to-slate-800 opacity-80"></span>
          <div class="relative z-10 flex flex-col flex-auto h-full p-4">
            <h5 class="pt-2 mb-6 font-bold text-white">Hi {{person.firstName}} !</h5>
            <p class="text-white">Welcome to FitCoach! We're excited to help you achieve your fitness goals. Here's everything you need to get started and track your progress.</p>
            <a class="mt-auto mb-0 text-sm font-semibold leading-normal text-white group" href="javascript:;">
              Read More
              <i class="fas fa-arrow-right ease-bounce text-sm group-hover:translate-x-1.25 ml-1 leading-normal transition-all duration-200"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div  class="w-full px-6 py-12 mx-auto">
        <!-- row 1 -->

  
        <!-- cards row 2 -->
        <div class="flex flex-wrap mt-6 -mx-3">
          <div class="w-full px-3 mb-6 lg:mb-0 lg:w-7/12 lg:flex-none">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-wrap -mx-3">
                  <div class="max-w-full px-3 lg:w-1/2 lg:flex-none">
                    <div class="flex flex-col h-full">
                      <p class="pt-2 mb-1 font-semibold">Built by fitcoach</p>
                      <h5 class="font-bold">Fitness Coaching</h5>
                      <p class="mb-12">comprehensive fitness coaching platform designed to cater to individuals of all fitness levels and goals</p>
                        <a class="mt-auto mb-0 text-sm font-semibold leading-normal group text-slate-500" href="javascript:;">
                        Read More
                        <i class="fas fa-arrow-right ease-bounce text-sm group-hover:translate-x-1.25 ml-1 leading-normal transition-all duration-200"></i>
                      </a>
                    </div>
                  </div>
                  <div class="max-w-full px-3 mt-12 ml-auto text-center lg:mt-0 lg:w-5/12 lg:flex-none">
                    <div class="h-full bg-gradient-to-tl from-purple-700 to-pink-500 rounded-xl">
                      <img src="./assets/img/shapes/waves-white.svg" class="absolute top-0 hidden w-1/2 h-full lg:block" alt="waves" />
                      <div class="relative flex items-center justify-center h-full">
                        <img class="absolute top-0 left-0 w-full h-full object-cover rounded-2xl opacity-75" src="./assets/fitness.jpg" alt="rocket" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full max-w-full px-3 lg:w-5/12 lg:flex-none">
            <div class="border-black/12.5 shadow-soft-xl relative flex h-full min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border p-4">
              <div class="relative h-full overflow-hidden bg-cover rounded-xl" style="background-image: url('./assets/img/ivancik.jpg')">
                <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-gray-900 to-slate-800 opacity-80"></span>
                <div class="relative z-10 flex flex-col flex-auto h-full p-4">
                  <h5 class="pt-2 mb-6 font-bold text-white">Work with fitCoach</h5>
                  <p class="text-white">FitCoach aims to make fitness accessible, enjoyable, and effective by providing a comprehensive suite of tools and support tailored to individual needs.                </p>
                    <a class="mt-auto mb-0 text-sm font-semibold leading-normal text-white group" href="javascript:;">
                    Read More
                    <i class="fas fa-arrow-right ease-bounce text-sm group-hover:translate-x-1.25 ml-1 leading-normal transition-all duration-200"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- cards row 3 -->
  
    
  
        <!-- cards row 4 -->
  
     
  
       
      </div>
      <!-- end cards -->
  