<div class='max-w-md mx-auto relative top-10' style="margin-bottom: 100px;">
  <div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-[#212325] hover:bg-[#414343] overflow-hidden">
      <div class="grid place-items-center h-full w-12 text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
      </div>

      <input
      class="peer h-full w-full bg-[#212325] hover:bg-[#414343]  outline-none text-sm text-gray-50 pr-2"
      type="text"
      id="search"
      [(ngModel)]="keyword"
      (ngModelChange)="handleChangeKeyword()"
      placeholder="Search something.." /> 
  </div>
</div>
<div class="min-h-screen mt-6  flex justify-center items-center body">
  
  
  <div class="area">
      <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
    </div>  
   
  <div class="flex flex-wrap justify-center ">
    <!-- First Item -->
  
  

    <div class="w-80 mx-8 my-4" *ngFor="let coach of coaches">
      <div 
      (click)="handleclick(coach)"
        class="cursor-pointer container mx-auto bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500">
        <img class="w-full max-h-200 object-cover object-top" src="{{coach.avatar}}" width="100" alt=""
          style="max-height: 200px;" />
        <div class="text-center relative py-14">
          <span
            class="absolute transform -top-10 left-28 flex z-50 text-green-500 bg-white rounded-full hover:text-green-400 transition-all duration-200 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                clip-rule="evenodd" />
            </svg>
          </span>
          <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-gray-900 cursor-pointer">
            Fitness & health</h1>
          <span class="text-lg text-gray-700 hover:text-gray-900">{{coach.firstName}} {{coach.lastName}}</span>
        </div>
      </div>
    </div>
    <!-- Second Item -->
    <!-- <div class="w-80 mx-8 my-4">
            <div class="container mx-auto bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500">

          <img class="w-full" src="https://i.imgur.com/iObhoAx.png" alt="" />
          <div class="text-center relative py-14">
            <span class="absolute transform -top-10 left-28 flex z-50 text-green-500 bg-white rounded-full hover:text-green-400 transition-all duration-200 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
              </svg>
            </span>
            <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-gray-900 cursor-pointer">Meditaciones en casa</h1>
            <span class="text-lg text-gray-700 hover:text-gray-900">Susan Paz</span>
          </div>
            </div>
        </div> -->
    <!-- Third Item -->
    <!-- <div class="w-80 mx-8 my-4">
            <div class="container mx-auto bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500">

          <img class="w-full" src="https://i.imgur.com/iObhoAx.png" alt="" />
          <div class="text-center relative py-14">
            <span class="absolute transform -top-10 left-28 flex z-50 text-green-500 bg-white rounded-full hover:text-green-400 transition-all duration-200 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
              </svg>
            </span>
            <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-gray-900 cursor-pointer">Meditaciones en casa</h1>
            <span class="text-lg text-gray-700 hover:text-gray-900">Susan Paz</span>
          </div>
            </div>
        </div>
        <div class="w-80 mx-8 my-4">
            <div class="container mx-auto bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500">

          <img class="w-full" src="https://i.imgur.com/iObhoAx.png" alt="" />
          <div class="text-center relative py-14">
            <span class="absolute transform -top-10 left-28 flex z-50 text-green-500 bg-white rounded-full hover:text-green-400 transition-all duration-200 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
              </svg>
            </span>
            <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-gray-900 cursor-pointer">Meditaciones en casa</h1>
            <span class="text-lg text-gray-700 hover:text-gray-900">Susan Paz</span>
          </div>
            </div>
        </div>
        <div class="w-80 mx-8 my-4">
            <div class="container mx-auto bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500">

          <img class="w-full" src="https://i.imgur.com/iObhoAx.png" alt="" />
          <div class="text-center relative py-14">
            <span class="absolute transform -top-10 left-28 flex z-50 text-green-500 bg-white rounded-full hover:text-green-400 transition-all duration-200 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
              </svg>
            </span>
            <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-gray-900 cursor-pointer">Meditaciones en casa</h1>
            <span class="text-lg text-gray-700 hover:text-gray-900">Susan Paz</span>
          </div>
            </div>
        </div>
        <div class="w-80 mx-8 my-4">
            <div class="container mx-auto bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500">

          <img class="w-full" src="https://i.imgur.com/iObhoAx.png" alt="" />
          <div class="text-center relative py-14">
            <span class="absolute transform -top-10 left-28 flex z-50 text-green-500 bg-white rounded-full hover:text-green-400 transition-all duration-200 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
              </svg>
            </span>
            <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-gray-900 cursor-pointer">Meditaciones en casa</h1>
            <span class="text-lg text-gray-700 hover:text-gray-900">Susan Paz</span>
          </div>
            </div>
        </div> -->

    <!-- Repeat the above three items as needed -->
  </div>

</div>